* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main {
  padding-left: 50px;
  width: 1480px;
  height: 100vh;
}
.page {
  display: flex;
  gap: 20px;
}
.size {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.like {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  padding: 20px;
  margin-top: 34px;
  width: 300px;
  height: 94px;
  display: flex;
  align-items: center;
  border: 1px;
  gap: 15.5px;
  background: #f4f4f4;
  border-radius: 5px;
}
.icon img {
  width: 33px;
  height: 44px;
}
.title {
  margin-top: 54px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}
.title2 {
  margin-bottom: 39px;
  margin-top: 62px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}
.parents {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.parents .page2 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image1.png);
}
.parents .page3 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image2.png);
}
.parents .page4 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image3.png);
}
.parents .page5 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image4.png);
}
.parents .page6 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image5.png);
}
.parents .page7 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image6.png);
}
.parents .page8 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image7.png);
}
.parents .page9 {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/image8.png);
}

.text {
  padding: 8px 16px 14px;
  background: #384685;
  border-radius: 0px 0px 0px 10px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.065em;
  color: #ffffff;
  display: inline-block;
}
